*{
    padding: 0;
    margin: 0;
    background: #f0f0f0; 
}

.nav{
    background: #AA1C27;
    font-family: 'Cinzel', serif;
    position: fixed;
    font-size: 4vh;
    text-align: left;
    height: 7%;
    width: 100%;
    margin: 0;
    z-index: 100;
}



.nav a{
    background: #AA1C27;
    color: #fff;
    display: inline-block;
    height: 100%;
    width: 24%;
    text-decoration: none;
    text-align: center;
  
}

a:hover{
    background: #771818;
}


.header{
    background: #000;
    background-color: #000;
    color: #fff;
    font-size: 3vh;
    font-family: 'Cinzel', serif; 
    position: absolute;
    width: 100%;
    height: 10%;  
    text-align: left;
    top: 7vh;
    padding: 0;
}

.logo{
    position: absolute;
    height: 70%;
    left: 1%;
    top: 15%;
    
}

.header p{
    display: inline-block;
    margin-left: 65%;
    margin-top: 1%;
    background-color: #000; 
 
}

h1{
    display: inline-block;
    margin-top: 1%;
    margin-left: 7%;
    background-color: #000;
}



.especiales{
    position: absolute;
    top: 22% ;
    left: 5%;
    font-size: 4vh;
    color: #004AAD;
}

.postres{
    position: absolute;
    top: 22%;
    font-size: 4vh;
    left: 60%;
    color: #004AAD;
    
}


body img{
    position: absolute;
    left: 3%;



}

.uno{
    top: 30%;
    height: 20%;

}

.dos{
    top: 55%;
    height: 18.5%;
    

}

.tres{
    top: 80%;
    height: 21.5%;

}

.cuatro{
    top: 105%;
    height: 22.5%;

}

.cinco{
    top: 130%;
    height: 23.5%;    

}

.seis{
    left: 52%;
    top: 30%;
    height: 20%;

}

.siete{

    left: 52%;
    top: 55%;
    height: 21%;
}

.jamon{
    position: absolute;
    top: 30%;
    left: 27%;
    font-size: 3vh;
    color: #AA1C27;

}

.des_jamon{
    position: absolute;
    top: 35%;
    left: 27%;
}


.tortilla{
    position: absolute;
    top: 54%;
    left: 27%;
    font-size: 3vh;
    color: #AA1C27;

}

.des_tortilla{
    position: absolute;
    top: 58%;
    left: 27%;
}


.cocido{
    position: absolute;
    top: 82%;
    left: 27%;
    font-size: 3vh;
    color: #AA1C27;

}

.des_cocido{
    position: absolute;
    top: 86%;
    left: 27%;
    
}

.paella{
    position: absolute;
    top: 107%;
    left: 27%;
    font-size: 3vh;
    color: #AA1C27;

}

.des_paella{
    position: absolute;
    top: 111%;
    left: 27%;
}

.gazpacho{
    position: absolute;
    top: 132%;
    left: 27%;
    font-size: 3vh;
    color: #AA1C27;

}

.des_gazpacho{
    position: absolute;
    top: 137%;
    left: 27%;
}

.chocolate{
    position: absolute;
    top: 30%;
    left: 77%;
    font-size: 3vh;
    color: #AA1C27;

}

.des_chocolate{
    position: absolute;
    top: 35%;
    left: 77%;
}

.tiramisu{
    position: absolute;
    top: 55%;
    left: 77%;
    font-size: 3vh;
    color: #AA1C27;

}

.des_tiramisu{
    position: absolute;
    top: 59%;
    left: 77%;
}



