*{
padding: 0;
margin: 0;
    background: url(comedor_1.jpg) no-repeat center fixed;
    background-size: 100% 100%;
}

.nav{
    background: #AA1C27;
    font-family: 'Cinzel', serif;
    padding: 0;
    position: fixed;
    font-size: 4vh;
    text-align: left;
    height: 7%;
    width: 100%;
    margin: 0;
    z-index: 100;
    box-sizing: border-box;
}

.nav a{
    background: #AA1C27;
    color: #fff;
    display: inline-block;
    height: 100%;
    width: 24%;
    margin: 0;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
}

.nav a:hover{
    background: #771818;
}





.header{
    background: #000;
    background-color: #000;
    color: #fff;
    font-size: 3vh;
    font-family: 'Cinzel', serif; 
    position: absolute;
    width: 100%;
    height: 10%;  
    text-align: left;
    top: 7vh;
    padding: 0;
}

h1{
    display: inline-block;
    margin-top: 1%;
    margin-left: 7%;
    background: #000;
}



p{
    display: inline;
    margin-left: 60%;
    background: #000; 
 
}


.logo{
    height: 70%;
    position: absolute;
    top: 15%;
    left: 1vw;
}

form{
    padding: 0;
    position: absolute;
    background: #f0f0f0;
    height: 70%;
    width: 40%;
    top: 22%;
    left: 30%;
    font-size: 10vh;
    text-align: center;
}

.personas{
    background: #fff; 
    height: 7%;
    width: 70%;
    text-align: center;
    margin-left: 0;
    display: block;
    margin-left: 15%;
    margin-top: 5%;
    
}



.mesa{
    background: #fff; 
    height: 7%;
    width: 70%;
    text-align: center;
    display: block;
}

.hora{
     background: #fff; 
     height: 7%;
    width: 70%;
    text-align: center;
    display: block;

}

.fecha{
  background: #fff; 
     height: 7%;
    width: 70%;
    text-align: center;
    display: block;

}

.boton{
     height: 7%;
    width: 45%;
    cursor: pointer;
    background: #000;
    font-size: 30%;
    text-decoration: none;
    color: #fff;
    display: block;
    margin-left: 27.5%;
    margin-top: 5%;
    box-sizing: border-box;
    padding: 1%;
    
}
.boton:focus{
    background: #fff;
    color: #000;
}

form p{
    display: block;
    background: #f0f0f0;
    font-size: 40%;
    font-family: 'Cinzel', serif; 
    margin-left: 1%;
    margin-top: 0;
    
}

input{
    margin-top: 5%;
    font-size: 25%;
    margin-left: 15%;
    border: none;
}

select{
    margin-top: 5%;
    margin-left: 15%;
    font-size: 30;
    border: none;
}

form img{
    height: 25%;
}





