*{
    margin: 0;
    padding: 0;
    
    background: url(fondo_3.jfif) no-repeat center fixed;
    background-size: 100% 100%;
}


.header{
    background: #000;
    background-color: #000;
    color: #fff;
    font-size: 3vh;
    font-family: 'Cinzel', serif; 
    position: absolute;
    width: 100%;
    height: 10%;  
    text-align: left;
    top: 7%;    
}

.header p{
    display: inline-block;
    margin-left: 38%;
    margin-top: 1%;
    background: #000; 
 
}

.header h1{
    display: inline-block;
    margin-top: 1%;
    margin-left: 7%;
    background: #000;
}


.nav{
    background: #AA1C27;
    font-family: 'Cinzel', serif;
    padding: 0;
    position: fixed;
    font-size: 4vh;
    text-align: left;
    height: 7%;
    width: 100%;
    margin: 0;
    z-index: 100;
    box-sizing: border-box;
    top: 0;
    left: 0;
}


.nav a{
    background: #AA1C27;
    color: #fff;
    display: inline-block;
    height: 100%;
    width: 24%;
    margin: 0;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
}

a:hover{
    background: #771818;
}

.logo{
    position: absolute;
    height: 70%;
    left: 1%;
    top: 15%;
   
    
}

form img{
    height: 25%;
    text-decoration: none;
}

input p{
    color: #fff;
}


form h1{
    background: #f0f0f0;
}

form{
    position: absolute;
    top: 22%;
    left: 30%;
    background: #f0f0f0;
    height: 70%;
    width: 40%;
    font-family: 'Cinzel', serif;
    border: solid 3px #000; 
    text-align: center;
    font-size: 80%;
        text-align: center;

}

input{
    background: #000;
    color: #fff;
    height: 7%;
    text-align: center;
    width: 70%;
    margin-top: 3%;
   display: block;
   margin-left: 15%;    
    
}

.nombre{
    margin-left: 15%;
}

.doc{
  
    
}

.correo{
    
}

.tel{
    
}

.boton{
    width: 25%;
    margin-left: 35%;

}

.boton:hover{
    cursor: pointer;
}

