*{
padding: 0;
margin: 0;
    background: url(comedor.jpg) no-repeat center fixed;
    background-size: 100% 100%;
}

.nav{
    background: #000;
    color: #fff;
    position: absolute;
    height: 13vh;
    width: 100vw;
    top: 5vh;
    font-size: 3vh;
}

h1{
    position: absolute;
    margin-top: 2vw;
    left: 10vw;
    background: #000;
   
}

h2{
    position: absolute;
    left: 80vw;
    margin-top: 2vw;
    background: #000;
}


.logo{
    height: 10vh;
    position: absolute;
    top: 1.2vw;
    left: 1vw;
}

select{
    color: #fff;
    background: #000;
    position: absolute;
    top: 60vh;
    height: 4vh;
    width: 20vw;
    text-align: center;
}

.mesa{
    left: 70vw;
}

.hora{
    left: 40vw;
}

.fecha{
    left: 10vw;
}

.boton{
    color: #fff;
    background: #000;
    position: absolute;
    border: solid 1px #fff;
    height: 6vh;
    width: 15vw;
    top: 75vh;
    left: 42.5vw;
    cursor: pointer;
}










