*{
   
    margin: 0;
    padding: 0;
    background: #f0f0f0;    

}

body{
    font-size: 10vh;
    text-align: center;
}


.header{
    background: #000;
    color: #fff;
    font-size: 4vh;
    position: absolute;
    width: 100%;
    height: 20%;  
    text-align: left;
    top: 7vh;
    

}

.usuario{
    position: absolute;
    height: 50%;
    top: 20%;
    left: 90%;
    border-radius: 100%;
}


h1{
  font-family: 'Cinzel', serif;
    margin-top: 3%;
    margin-left: 15%;
    background-color: #000;
}



img{
    opacity: 85%;
}

.logo{
    height: 70%;
    margin-left: 2%;
    position: absolute;
    top: 15%;
    left: 1%;
    opacity: 100%;
    
}



.sopa{
    position: absolute;
    right: 2%;
    height: 30%;
    top: 53%;
    
}

.plato{
    position: absolute;
    height: 25%;
    left: 33.3%;
    top: 30%;
}

.postre{
    position: absolute;
    height: 30%;
    top: 53%;
    left: 2%;
}



.nav{
    background: #AA1C27;
    font-family: 'Cinzel', serif;
    padding: 0;
    position: fixed;
    font-size: 4vh;
    text-align: left;
    height: 7%;
    width: 100%;
    margin: 0;
    z-index: 100;
    box-sizing: border-box;
}


.nav a{
    background: #AA1C27;
    color: #fff;
    display: inline-block;
    height: 100%;
    width: 24%;
    margin: 0;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
}

a:hover{
    background: #771818;
}




p{
    position: absolute;
    top: 100%;
}

.frase{
    top: 60%;
    font-size: 40%;
    font-family: dancing script;
    left: 35%;

}

.croqueta{
    opacity: 90%;
    position: absolute;
    height: 50%;
    top: 160%;
    left: 1%;
}



.des_croqueta{
    top: 165%;
    font-size: 5vh;
    font-family: dancing script;
    margin-left: 45%;
    color: #004AAD;
    height: 38%;
    
}

.header_2{
    background: #000;
    color: #fff;
    font-size: 4vh;
    position: absolute;
    width: 100%;
    height: 10%;  
    text-align: center;
    top: 100%;
    box-sizing: border-box;
    margin-bottom: 10%;

}



h2{
    margin-top: 1%;
    background: #000;
    
}

.quesada{
    opacity: 90%;
    position: absolute;
    height: 50%;
    top: 112%;
    left: 52%;
}

.des_quesada{
    top: 115%;
    font-size: 5vh;
    font-family: dancing script;
    margin-left: 1%;
    color: #AA1C27;
    
}