*{
    
    margin: 0;
    padding: 0;
    

}


.nav{
    background: #AA1C27;
    font-family: 'Cinzel', serif;
    padding: 0;
    position: fixed;
    font-size: 4vh;
    text-align: left;
    height: 7%;
    width: 100%;
    margin: 0;
    z-index: 100;
    box-sizing: border-box;
}

.nav a{
    background: #AA1C27;
    color: #fff;
    display: inline-block;
    height: 100%;
    width: 24%;
    margin: 0;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
}

a:hover{
    background: #771818;
}





.header{
    background: #000;
    background-color: #000;
    color: #fff;
    font-size: 3vh;
    font-family: 'Cinzel', serif; 
    position: absolute;
    width: 100%;
    height: 10%;  
    text-align: left;
    top: 7vh;
    padding: 0;
}

h1{
    display: inline-block;
    margin-top: 1%;
    margin-left: 7%;
    background: #000;
}



p{
    display: inline;
    margin-left: 25%;
    background: #000; 
 
}


.logo{
    height: 70%;
    position: absolute;
    top: 15%;
    left: 1vw;
}

.form_orden{
    background: #D6D5D3;
    position: absolute;
    text-align: center;
    height: 60vh;
    width: 40vw;
    top: 33vh;
    left: 30vw;
    border-radius: 1%;
    box-shadow: .5px .5px ;
   
}

h2{
    margin: 5vh;
}



input{
    left: 35vw;
    height: 5vh;
    width: 35vw;
    margin: 1vh;
}

.producto{
    top: 45vh;
    
}

.cantidad{
    top: 50vh;
}

.comentarios{
    height: 17vh;
    text-align: left;
    text-decoration-color: #fff;
   
}

.boton{
    background: #fff;
    margin: 2vh;
    width: 17vw;
    border: none;
    border-radius: 1%;
}

.boton:hover{
    cursor: pointer;
    
}

.form_venta{
    background: #D6D5D3;
    position: absolute;
    text-align: center;
    height: 60vh;
    width: 40vw;
    top: 100vh;
    left: 30vw;
    border-radius: 1%;
    box-shadow: .5px .5px ;
    
}






