*{
    
    margin: 0;
    padding: 0;
    

}

.header{
    background: #000;
    background-color: #000;
    color: #fff;
    font-size: 3vh;
    font-family: 'Cinzel', serif; 
    position: absolute;
    width: 100%;
    height: 20%;  
    text-align: left;
    padding: 0;
}

h1{
    display: inline-block;
    margin-top: 4%;
    margin-left: 12%;
    background: #000;
}

.logo{
    height: 70%;
    position: absolute;
    top: 15%;
    left: 1vw;
}

.usuario{
    height: 70%;
    position: absolute;
    top: 15%;
    right: 2%;
    
}
.title{
    
    position: absolute;
    font-size: 4vh;
    top: 25%;
    left: 34%;
    background: #fff;
}

input{
    left: 35vw;
    height: 5vh;
    width: 35vw;
    margin-top: 3%;
}


.form_venta{
    background: #D6D5D3;
    position: absolute;
    text-align: center;
    height: 70%;
    width: 40%;
    top: 25%;
    left: 30%;
    border-radius: 1%;
    box-shadow: .5px .5px ;
    
}

.empleado{
    margin-top: 5%;
}

h2{
    margin-top: 10%;
}

.boton{
    margin-top: 5%;
    width: 50%;
}