*{
    
    margin: 0;
    padding: 0;
    

}

.header{
    background: #000;
    background-color: #000;
    color: #fff;
    font-size: 3vh;
    font-family: 'Cinzel', serif; 
    position: absolute;
    width: 100%;
    height: 20%;  
    text-align: left;
    padding: 0;
}

h1{
    display: inline-block;
    margin-top: 4%;
    margin-left: 12%;
    background: #000;
}

.logo{
    height: 70%;
    position: absolute;
    top: 15%;
    left: 1vw;
}

.usuario{
    height: 70%;
    position: absolute;
    top: 15%;
    right: 2%;
    
}
.title{
    
    position: absolute;
    font-size: 4vh;
    top: 25%;
    left: 34%;
    background: #fff;
}




.form_orden{
    background: #D6D5D3;
    position: absolute;
    text-align: center;
    height: 60vh;
    width: 40vw;
    top: 25%;
    left: 30vw;
    border-radius: 1%;
    box-shadow: .5px .5px ;
   
}

h2{
    margin: 5vh;
}



input{
    left: 35vw;
    height: 5vh;
    width: 35vw;
    margin: 1vh;
}

.producto{
    top: 45vh;
    
}

.cantidad{
    top: 50vh;
}

.comentarios{
    height: 17vh;
    text-align: left;
    text-decoration-color: #fff;
   
}

.boton{
    background: #fff;
    margin: 2vh;
    width: 17vw;
    border: none;
    border-radius: 1%;
}

.boton:hover{
    cursor: pointer;
    
}

/*************/

#main-container{
    position: absolute;
	margin-top: 45%;
	width: 90%;
    margin-left: 5%;
}

table{
    
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

th, td{
	padding: 20px;
}

thead{
	background-color: #246355;
	border-bottom: solid 5px #0F362D;
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #369681;
	color: white;
}
