
*{
    
    margin: 0;
    padding: 0;
    

}



.nav{
    background: #AA1C27;
    font-family: 'Cinzel', serif;
    padding: 0;
    position: fixed;
    font-size: 4vh;
    text-align: left;
    height: 7%;
    width: 100%;
    margin: 0;
    z-index: 100;
    box-sizing: border-box;
}

.nav a{
    background: #AA1C27;
    color: #fff;
    display: inline-block;
    height: 100%;
    width: 24%;
    margin: 0;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
}

a:hover{
    background: #771818;
}





.header{
    background: #000;
    background-color: #000;
    color: #fff;
    font-size: 3vh;
    font-family: 'Cinzel', serif; 
    position: absolute;
    width: 100%;
    height: 10%;  
    text-align: left;
    top: 7vh;
    padding: 0;
}

h1{
    display: inline-block;
    margin-top: 1%;
    margin-left: 7%;
    background: #000;
}



p{
    display: inline;
    margin-left: 25%;
    background: #000; 
 
}


.logo{
    height: 70%;
    position: absolute;
    top: 15%;
    left: 1vw;
}